<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <a href="/logout">Log out</a>

    <body>
        {% if name %}
            <h1>A girl {{name}} invites you!!</h1>
        {% else %}
            <h1>An unnamed girl invites you!!</h1>
        {% endif %}

        <img src="/static/images/girl.jpg" alt="girl" height="350" width="600">

        <h2>Poems not concerned with her</h2>

        <form action="/add" method="POST">
            <input type="text" name="title" placeholder="title">
            <input type="text" name="body" placeholder="body">
            <input type="submit" value="Add">
        </form>

        <form action="/update" method="post" id="update">
            <input type="text" name="title" placeholder="title">
            <input type="text" name="body" placeholder="body">
            <input type="submit" value="Update">
        </form>

        <form action="/delete" method="post" id="delete">
            <input type="submit" value="Delete selected all poem">
        </form>
        {% for poem in all_poem %}
            <div>
                <input type="radio" name="update" form="update" value={{poem.id}}>
                <input type="checkbox" name="delete" form="delete" value={{poem.id}}>
                {{poem.title}}: {{poem.body}} ({{poem.date}})
            </div>
        {% endfor %}
    </body>
</html>
